---
import type { Frontmatter } from '../config'
import { SiteMetadata } from '../config'
import Base from '../layouts/base.astro'
import Hero from '../components/hero.astro'
import Features from '../components/features2.astro' 
import Features3 from '../components/features3.astro' 
import Features4 from '../components/features4.astro' 
import CTA from '../components/cta.astro' 
import coverSVG from '../assets/svg/undraw/undraw_design_inspiration.svg'
import socialImage from '../assets/undraw/undraw_design_inspiration.png'

const frontmatter: Frontmatter = {
  title: SiteMetadata.title,
  description: SiteMetadata.description,
  coverSVG: coverSVG,
  socialImage: socialImage,
  publishDate: SiteMetadata.buildTime
}
 
---

<Base frontmatter={frontmatter}
<h1>test</h1>
  <Hero />
  <CTA/>
  <Features3 /> 
  <Features /> 
  <Features4 /> 

</Base>
