---
import { getCollection } from 'astro:content'
import type { Frontmatter } from '../config'
import { SiteMetadata } from '../config'
import Base from '../layouts/base.astro'
import Hero from '../components/hero.astro'
import Features from '../components/features.astro'
import FindOutMore from '../components/findoutmore.astro'
import LatestArticles from '../components/latestarticles.astro'
import CTA from '../components/cta.astro'

const frontmatter: Frontmatter = {
  title: SiteMetadata.title,
  description: SiteMetadata.description,
  coverSVG: '../images/svg/undraw/undraw_design_inspiration.svg',
  socialImage: '../images/undraw/undraw_design_inspiration.png',
  publishDate: SiteMetadata.buildTime,
}

const posts = await getCollection('blog')
const latestPosts = posts.sort((a, b) => +b.data.publishDate - +a.data.publishDate).filter(p => !p.data.draft)
---

<Base frontmatter={frontmatter}>
  <Hero />
  <Features />
  <FindOutMore />
  <LatestArticles posts={latestPosts} />
  <CTA />
  <div class="p-24 md:p-12 bg-white dark:bg-black"></div>
</Base>
