---
import Base from '../layouts/base.astro'

const frontmatter = {
    title: "Test",
    description: "Hello world"
}

// const images = import.meta.glob('../images/undraw/*')
// console.log(images)
// for (const path in images) {
//   images[path]().then((image) => {
//     console.log(path, image)
//   })
// }
---


<Base frontmatter>
<main class="prose">
    <h1>Hello World</h1>

</main>
</Base>
---