---
import type { CollectionEntry } from 'astro:content'
import BlogCard from '../components/blogcard.astro'

export interface Props {
  posts: CollectionEntry<'blog'>[]
}

const { posts } = Astro.props
---

<div class="space-y-12 lg:space-y-0 flex flex-wrap dark:bg-gray-900">
  {posts.map(post => <BlogCard post={post} />)}
</div>
