---
import type { CollectionEntry } from 'astro:content'
import BlogCard from '../components/blogcard.astro'

export interface Props {
  posts: CollectionEntry<'blog'>[]
}

const { posts } = Astro.props
---

<div class="flex flex-wrap space-y-12 dark:bg-gray-900 lg:space-y-0">
  {posts.map((post) => <BlogCard post={post} />)}
</div>
