---
import { getEntries } from 'astro:content'

const { categories } = Astro.props

const cats = await getEntries(categories)

const baseUrl = import.meta.env.BASE_URL
---

{
  categories && (
    <div class="flex flex-row flex-wrap items-start gap-2 pb-2">
      {cats.map((category) => (
        <a
          itemprop="articleSection"
          href={`${baseUrl}category/${encodeURIComponent(category.id)}/`}
          class="inline-block rounded bg-purple-600 px-3 py-1 text-xs font-medium tracking-tight text-white uppercase hover:bg-pink-600"
        >
          {category.data.title}
          <span class="sr-only">category</span>
        </a>
      ))}
    </div>
  )
}
