---
import type { CollectionEntry } from 'astro:content'
import { getEntries } from 'astro:content'

const { categories } = Astro.props
const cats: CollectionEntry<'category'>[] = await getEntries(categories)
---

{
  categories && (
    <div class="flex flex-row flex-wrap items-start gap-2 pb-2">
      {cats.map((category) => (
        <a
          href={`${import.meta.env.BASE_URL}category/${encodeURIComponent(category.slug)}/`}
          class="inline-block rounded bg-purple-600 px-3 py-1 text-xs font-medium uppercase tracking-tight text-white hover:bg-pink-600">
          {category.data.title}
          <span class="sr-only">category</span>
        </a>
      ))}
    </div>
  )
}
