---
import { SiteMetadata } from '../config'
import { Icon } from 'astro-icon'

---

<div class="bg-primary dark:bg-black">
  <div
    class="mx-auto max-w-7xl px-4 py-12 sm:px-6 lg:flex lg:items-center lg:justify-between lg:px-8 lg:py-16">
    <h2 class="text-3xl font-extrabold tracking-tight text-white dark:text-gray-100 sm:text-4xl">
      <span class="block  text-tertiary">Matrículas Abertas para 2024</span>
      <span class="block textwhite- dark:text-purple-300"
        >Maternal I e II, Jardim e Pré
      </span>
    </h2>
    <div class="mt-8 flex lg:mt-0 lg:flex-shrink-0">
      <div class="inline-flex rounded-md shadow">
        <a
          href="https://wa.me/5511998602917" target="_blank"
          class="inline-flex items-center justify-center rounded-md border border-transparent bg-green-600 px-5 py-3 pb-4 text-xl font-medium text-white  ">
          <Icon
              pack="bi"
              name="whatsapp"
            class=" h-7  w-7 me-2 bg-green-600"
          />(11) 99860-2917
        </a>
      </div>
       
    </div>
  </div>
</div>
