---
import exifr from 'exifr'
import Lightbox from './lightbox.astro'

export interface Props {
  folder: string
}

const { folder } = Astro.props

const imageFiles = import.meta.glob<ImageMetadata>('../assets/gallery/**/*.{png,webp,jpg,jpeg}', {
  import: 'default',
  eager: true
})
const folderFiles = Object.keys(imageFiles).filter((image) => image.search(folder) >= 0)
const imageSrcs = folderFiles.map((image) => imageFiles[image])
const gallery = 'gallery-' + folder

const exifs = [] as Record<string, any>[]
for (let i in folderFiles) {
  const exif = await exifr.parse(folderFiles[i].replace('../', './src/'))
  exifs.push(exif)
}
---

<p class='text-sm italic text-gray-500 sm:px-2 lg:px-4'>
  Please click on any photo to view in a lightbox. Use arrow keys or swipe to navigate.
</p>
<div
  id={gallery}
  class='not-prose mx-auto block w-full columns-1 gap-2 sm:columns-2 lg:columns-3 lg:gap-4'
  itemscope
  itemtype='http://schema.org/ImageGallery'
>
  <Lightbox id={gallery} images={imageSrcs} exifs={exifs} />
</div>
