---
import { Icon } from 'astro-icon'
import { NavigationLinks } from '../config'
import Search from '../components/search.astro'
import Theme from '../components/theme.astro'
import { Logo } from '../config'
---

<div class="relative h-16 w-full">
  <nav x-data="{ isOpen: false }" class="dark:bg-gray-800">
    <div
      class="fixed z-50 mx-auto w-full border-b-2 border-purple-300 bg-white px-2 dark:border-purple-600 dark:bg-gray-800 sm:px-6 lg:px-8">
      <div class="relative flex h-16 items-center justify-between">
        <div class="absolute inset-y-0 left-0 flex items-center lg:hidden">
          <!-- Mobile menu button-->
          <button
            type="button"
            x-on:click="isOpen = !isOpen"
            class="inline-flex items-center justify-center rounded-md p-2 text-purple-600 hover:bg-purple-200 hover:text-pink-600 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-purple-300 dark:text-purple-300 dark:hover:bg-purple-800 dark:hover:text-pink-300 dark:focus:ring-purple-800"
            aria-controls="mobile-menu"
            aria-expanded="false">
            <span class="sr-only">Open main menu</span>
            <Icon
              x-bind:class="{'hidden': isOpen, 'block': !isOpen }"
              class="block h-6 w-6"
              aria-hidden="true"
              pack="heroicons-outline"
              name="menu"
            />
            <Icon
              x-bind:class="{'block': isOpen, 'hidden': !isOpen }"
              class="hidden h-6 w-6"
              aria-hidden="true"
              pack="heroicons-outline"
              name="x"
            />
          </button>
        </div>
        <div class="flex flex-1 items-center justify-center lg:items-stretch lg:justify-start">
          <div class="flex flex-shrink-0 items-center">
            <img class="block h-8 w-8 dark:bg-gray-100" src={Logo.src} alt="Logo" />
          </div>
          <div class="hidden lg:mx-4 lg:block">
            <div class="flex space-x-2">
              {
                NavigationLinks.map((item) => (
                  <a
                    href={import.meta.env.BASE_URL + item.href}
                    class={
                      (item.href.length > 0 && Astro.url.toString().includes(item.href)
                        ? 'bg-purple-200 text-pink-600 dark:bg-purple-800 dark:text-pink-300'
                        : 'text-purple-600 hover:bg-purple-200 hover:text-pink-600 dark:text-purple-200 dark:hover:bg-purple-800 dark:hover:text-pink-300') +
                      ' rounded-md px-2 py-2 text-lg font-medium'
                    }
                    aria-current={
                      item.href.length > 0 && Astro.url.toString().includes(item.href)
                        ? 'page'
                        : undefined
                    }>
                    {item.name}
                  </a>
                ))
              }
            </div>
          </div>
        </div>
        <div
          class="absolute inset-y-0 right-0 flex items-center pr-2 sm:static sm:inset-auto sm:ml-6 sm:pr-0">
          <Search />
          <Theme />

          <!-- Right nav -->
        </div>
      </div>
    </div>

    <!-- Mobile menu, show/hide based on menu state. -->
    <div
      x-show="isOpen"
      x-cloak
      x-transition:enter="transition ease-out duration-100 transform"
      x-transition:enter-start="opacity-0 scale-95"
      x-transition:enter-end="opacity-100 scale-100"
      x-transition:leave="transition ease-in duration-75 transform"
      x-transition:leave-start="opacity-100 scale-100"
      x-transition:leave-end="opacity-0 scale-95"
      class="absolute inset-x-0 top-16 z-50"
      id="mobile-menu">
      <div
        class="flex justify-center border-b-2 border-t-2 border-purple-300 bg-gray-100 px-4 py-2 font-semibold dark:border-purple-600 dark:bg-gray-800">
        {
          NavigationLinks.map((item) => (
            <a
              href={import.meta.env.BASE_URL + item.href}
              class:list={[
                item.href.length > 0 && Astro.url.toString().includes(item.href)
                  ? 'bg-purple-200 text-pink-600 dark:bg-purple-800 dark:text-pink-300'
                  : 'text-purple-600 hover:bg-purple-200 hover:text-pink-600 dark:text-purple-200 dark:hover:bg-purple-800 dark:hover:text-pink-300',
                ' px-2'
              ]}
              aria-current={
                item.href.length > 0 && Astro.url.toString().includes(item.href)
                  ? 'page'
                  : undefined
              }>
              {item.name}
            </a>
          ))
        }
      </div>
    </div>
  </nav>
</div>
