---
import Lightbox from './lightbox.astro'

export interface Props {
  images: ImageMetadata[]
}

const { images } = Astro.props
---

<p class="text-sm text-gray-500 italic">
  Please click on any photo to view in a lightbox. Use arrow keys or swipe to navigate.
</p>
<Lightbox id="images" images={images} grid={false} />
