---
export interface Props {
  loc: [number, number]
  zoom: number
}

const { loc, zoom } = Astro.props
---

<div id="map" class="mb-3 h-96"></div>
<script is:inline>
var myloc, myzoom
</script>
<script define:vars={{ loc, zoom }}>
  myloc = loc
  myzoom = zoom
</script>
<script>
  import L from 'leaflet/dist/leaflet.js'
  var map = L.map('map').setView(myloc, myzoom)
  L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
    maxZoom: 19,
    attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors',
  }).addTo(map)
  L.marker(myloc).addTo(map)
</script>
