---
import type { CollectionEntry } from 'astro:content'

export interface Props {
  base: string
  prev: CollectionEntry<'blog'> | CollectionEntry<'doc'> | undefined
  next: CollectionEntry<'blog'> | CollectionEntry<'doc'> | undefined
}

const { base, prev, next } = Astro.props
---

<dl class="mt-12 flex border-t border-purple-300 pt-6 dark:border-purple-700">
  {
    prev && (
      <div class="mr-auto text-left">
        <dt class="font-display text-sm font-medium text-gray-800 dark:text-gray-200">Prev</dt>
        <dd class="mt-1">
          <a
            class="text-base font-semibold text-purple-600 hover:bg-purple-200 hover:text-pink-600 dark:text-purple-300"
            href={base + prev.slug}>
            <span aria-hidden="true">←</span>
            {prev.data.title}
          </a>
        </dd>
      </div>
    )
  }
  {
    next && (
      <div class="ml-auto text-right">
        <dt class="font-display text-sm font-medium text-gray-800 dark:text-gray-200">Next</dt>
        <dd class="mt-1">
          <a
            class="text-base font-semibold text-purple-600 hover:bg-purple-200 hover:text-pink-600 dark:text-purple-300"
            href={base + next.slug}>
            {next.data.title}
            <span aria-hidden="true">→</span>
          </a>
        </dd>
      </div>
    )
  }
</dl>
