---
import Img from '../components/img.astro'

export interface Props {
  title: string
  description?: string
  coverSVG?: string
  coverImage?: string
  socialImage?: string
}

const { title, description, coverSVG, coverImage, socialImage } =
  Astro.props
---

<div class="my-4 md:mb-0 w-full max-w-screen-xl mx-auto relative h-96">
  <div
    class="absolute left-0 bottom-0 w-full h-full z-10 bg-gradient-to-t from-gray-700 xl:rounded-lg"
  >
  </div>
  <Img
    src={coverSVG || coverImage || socialImage}
    alt={title}
    class="absolute left-0 top-0 w-full h-full z-0 object-contain"
  />
  <div class="p-4 absolute bottom-0 left-0 z-20">
    <h2 class="text-4xl font-bold text-white leading-tight">{title}</h2>
    <h2 class="text-xl font-medium italic text-purple-300">{description}</h2>
    <slot />
  </div>
</div>
