---
export interface Props {
  tags?: string[]
}

const { tags } = Astro.props
---

{
  tags && (
    <div class="mt-2 flex flex-row flex-wrap items-start gap-4 lg:gap-2">
      {tags.map((tag) => (
        <a
          href={`${import.meta.env.BASE_URL}tag/${encodeURIComponent(tag)}/`}
          class="inline-block rounded bg-pink-100 px-2 py-2 text-xs font-semibold text-purple-900 hover:bg-purple-300 hover:text-black lg:py-1">
          #{tag}
        </a>
      ))}
    </div>
  )
}
