---
import type { Frontmatter } from '../config'
import SEO from '../components/seo.astro'
import Header from '../components/header.astro'
import Footer from '../components/footer.astro'

export interface Props {
  frontmatter: Frontmatter
}

const { frontmatter } = Astro.props
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link
      rel="icon"
      type="image/x-icon"
      href={new URL(import.meta.env.BASE_URL + 'favicon.ico', Astro.url)}
    />
    <meta name="generator" content={Astro.generator} />
    <SEO frontmatter={frontmatter} />
    <script is-inline>
      if (
        localStorage.theme === 'dark' ||
        (!('theme' in localStorage) &&
          window.matchMedia('(prefers-color-scheme: dark)').matches)
      ) {
        document.documentElement.classList.add('dark')
      } else {
        document.documentElement.classList.remove('dark')
      }
    </script>
    <style is:inline>
      [x-cloak] { display: none !important; }
      </style>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.8.0/dist/leaflet.css"
      integrity="sha512-hoalWLoI8r4UszCkZ5kL8vayOGVae1oxXe/2A4AO6J9+580uKHDO3JdHb7NzwwzK5xr/Fs0W40kiNHxM9vyTtQ=="
      crossorigin=""/>
    {frontmatter.extra?.includes('math') &&
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.16.1/dist/katex.min.css" integrity="sha384-pe7s+HmY6KvqRkrRRUr4alQJ0SkmzCft3RpK1ttGMa7qk8Abp/MEa/4wgceRHloO" crossorigin="anonymous">
    }
    {frontmatter.extra?.includes('markmap') &&
      <style>
        .markmap > svg {
          width: 100%;
          height: 400px;
        }
        </style>
      }
    <slot name="in-head" />
    </head>
    <body class="dark:bg-gray-900">
      {frontmatter.extra?.includes('mermaid') &&
        <script src="https://cdn.jsdelivr.net/npm/mermaid/dist/mermaid.min.js"></script>
        <script>
          mermaid.initialize({startOnLoad:true});
        </script>
      }
      <Header />
      <slot />
      <Footer />
      {frontmatter.extra?.includes('markmap') &&
        <script src="https://cdn.jsdelivr.net/npm/markmap-autoloader"></script>
      }
  </body>
</html>
